<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../shared/css/vars.css">
        <link rel="stylesheet" href="../../shared/css/common.css">
        <link rel="stylesheet" href="config.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Mi Revista Digital</title>
        </head>
        <header id="headerConfiguracion">
            <h1>Configuración</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                <a class="nav-link" href="../../index.html">inicio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
        </header>
        <body>
        <main>
    <section>
        <form id="formularioConfiguracion">
            <fieldset>
                <legend>Configuración de perfil</legend>

                <label for="archivo">Subir imagen de Perfil:</label><br><br>
                <input type="file" id="archivo" name="archivo" accept=".png,.jpg"><br><br>

                <label for="fecha">Fecha de nacimiento:</label><br><br>
                <input type="date" id="fecha" name="fecha"><br><br>

                <label>Género:</label><br><br>
                <label><input type="radio" name="genero" value="hombre"> Hombre</label><br><br>
                <label><input type="radio" name="genero" value="mujer"> Mujer</label><br><br>

                <label for="color">Color Primario de la Página:</label><br><br>
                <input type="color" id="color" name="color" value="#000000"><br><br>
            </fieldset>

            <fieldset>
                <legend>Cambiar Contraseña</legend>

                <label for="usuario">Nombre de Usuario:</label>
                <textarea id="usuario" name="usuario" rows="1" placeholder="Escribe tu Nombre de Usuario aquí..."></textarea><br><br>

                <label for="pwd">Contraseña Antigua:</label><br><br>
                <input type="password" id="pwd" name="pwd" minlength="8"><br><br>

                <label for="pwd2">Nueva Contraseña:</label><br><br>
                <input type="password" id="pwd2" name="pwd2" minlength="8"><br><br>
            </fieldset>

            <div>
                <button type="submit">Guardar cambios</button>
            </div>
        </form>
    </section>
</form>
    </section>
        <section id="tablaUsuarios">
            <table>
                <tr>
                  <th>Imagen de Perfil</th>
                  <th>Correo</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Cedula</th>
                  <th>Fecha de nacimiento</th>
                </tr>
                <tr>
                    <td><img src="../../assets/img/chicaStockFoto.jpg" alt="Perfil 1" width="50"></td>
                    <td>lucia.gomez@example.com</td>
                    <td>Lucía</td>
                    <td>Gómez</td>
                    <td>V-24356123</td>
                    <td>1998-07-12</td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/img/hombreStockFoto.jpg" alt="Perfil 2" width="50"></td>
                    <td>jose.martinez@example.com</td>
                    <td>José</td>
                    <td>Martínez</td>
                    <td>V-21348796</td>
                    <td>1995-03-22</td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/img/chica2Stockfoto.jpg" alt="Perfil 3" width="50"></td>
                    <td>ana.silva@example.com</td>
                    <td>Ana</td>
                    <td>Silva</td>
                    <td>V-26875132</td>
                    <td>2000-11-05</td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/img/jovenStockFoto.jpg" alt="Perfil 4" width="50"></td>
                    <td>carlos.mendez@example.com</td>
                    <td>Carlos</td>
                    <td>Méndez</td>
                    <td>V-20123456</td>
                    <td>1992-06-14</td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/img/mujerStockFoto.jpeg" alt="Perfil 5" width="50"></td>
                    <td>mariana.perez@example.com</td>
                    <td>Mariana</td>
                    <td>Pérez</td>
                    <td>V-25789643</td>
                    <td>1999-09-30</td>
                  </tr>
              </table>
        </section>

        </main>
        <footer id="footerConfig">
            <p>© 2025 Mi Revista Digital. Todos los derechos reservados.</p>
            <address>
              Contacto: <a href="mailto:acardozo164gmail.com">acardozo164gmail.com</a>
            </address>
          </footer>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
          <script src="../../shared/commonsScripts.js"></script>
          <script>
          document.addEventListener("DOMContentLoaded", () => {
          manejarFormulario("formularioConfiguracion", "datosConfig");
          }); 
          </script>
        </body>
</html>